@{
    ViewData["Title"] = "Admin Portal";
}
@model AdminViewModel
<!---Home Page User Table-->
<h1 style="margin-bottom: 20px; margin-top: 40px;">Users:</h1>
<table class="table" style="margin-bottom: 20px;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Bio</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Users.Any())  // Check if Model is not null and contains any items
        {
            if (Model.Users.Count() >= 3)
            {
                // Display only the first 3 users if there are more than 3
                @foreach (var user in Model.Users.Take(3))
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Bio</td>
                        <td>@user.Email</td>
                        <td>@user.Phone</td>
                    </tr>
                }
            }
            else
            {
                // If there are fewer than 3 users, display all
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Bio</td>
                        <td>@user.Email</td>
                        <td>@user.Phone</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="5">No users available</td>
            </tr>
        }
    </tbody>
</table>
@if (Model == null)
{
    <p>No data available (Model is null)</p>
}
else if (!Model.Users.Any())
{
    <p>No data available (Model is empty)</p>
}
<div class="mt-3">
    <a class="btn btn-primary" asp-controller="Users" asp-action="List">View Full List of Users</a>
</div>

<!--Home Page Project Table-->
<h1 style="margin-bottom: 20px;margin-top: 40px;">Projects:</h1>
<table class="table" style="margin-bottom: 20px;">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Deadline</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Projects.Any())  // Check if Model is not null and contains any items
        {
            if (Model.Projects.Count() >= 3)
            {
                // Display only the first 3 users if there are more than 3
                @foreach (var project in Model.Projects.Take(3))
                {
                    <tr>
                        <td>@project.Title</td>
                        <td>@project.Description</td>
                        <td>@project.Tags</td>
                        <td>@project.Deadline</td>
                        <td>@project.Status</td>
                    </tr>
                }
            }
            else
            {
                // If there are fewer than 3 users, display all
                @foreach (var project in Model.Projects)
                {
                    <tr>
                        <td>@project.Title</td>
                        <td>@project.Description</td>
                        <td>@project.Tags</td>
                        <td>@project.Deadline</td>
                        <td>@project.Status</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="5">No projects available</td>
            </tr>
        }
    </tbody>
</table>
@if (Model == null)
{
    <p>No data available (Model is null)</p>
}
else if (!Model.Projects.Any())
{
    <p>No data available (Model is empty)</p>
}
<div class="mt-3">
    <a class="btn btn-primary" asp-controller="Projects" asp-action="List">View Full List of Projects</a>
</div>


<!--Home page BiddingLog Table-->
<h1 style="margin-bottom: 20px; margin-top: 40px;">Bidding Logs:</h1>
<table class="table" style="margin-bottom: 20px;">
    <thead>
        <tr>
            <th>Status</th>
            <th>Operation</th>
            <th>Note</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.BiddingLogs.Any())  // Check if Model is not null and contains any items
        {
            if (Model.BiddingLogs.Count() >= 3)
            {
                // Display only the first 3 users if there are more than 3
                @foreach (var biddinglog in Model.BiddingLogs.Take(3))
                {
                    <tr>
                        <td>@biddinglog.Status</td>
                        <td>@biddinglog.Operation</td>
                        <td>@biddinglog.Note</td>
                        <td>@biddinglog.Timestamp</td>
                    </tr>
                }
            }
            else
            {
                // If there are fewer than 3 users, display all
                @foreach (var biddinglog in Model.BiddingLogs)
                {
                    <tr>
                        <td>@biddinglog.Status</td>
                        <td>@biddinglog.Operation</td>
                        <td>@biddinglog.Note</td>
                        <td>@biddinglog.Timestamp</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="5">No bidding logs available</td>
            </tr>
        }
    </tbody>
</table>
@if (Model == null)
{
    <p>No data available (Model is null)</p>
}
else if (!Model.BiddingLogs.Any())
{
    <p>No data available (Model is empty)</p>
}
<div class="mt-3">
    <a class="btn btn-primary" asp-controller="BiddingLogs" asp-action="List">View Full List of Bidding Logs</a>
</div>

<!--Home page ProjectLog Table-->
<h1 style="margin-bottom: 20px; margin-top: 40px;">Project Logs:</h1>
<table class="table" style="margin-bottom: 20px;">
    <thead>
        <tr>
            <th>Status</th>
            <th>User ID</th>
            <th>Operation</th>
            <th>Note</th>
            <th>Timestamp</th>
            <th>Project ID</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.ProjectLogs.Any())  // Check if Model is not null and contains any items
        {
            if (Model.ProjectLogs.Count() >= 3)
            {
                // Display only the first 3 projectlogs if there are more than 3
                @foreach (var projectlog in Model.ProjectLogs.Take(3))
                {
                    <tr>
                        <td>@projectlog.Status</td>
                        <td>@projectlog.OperatorId</td>
                        <td>@projectlog.Operation</td>
                        <td>@projectlog.Note</td>
                        <td>@projectlog.Timestamp</td>
                        <td>@projectlog.ProjectId</td>
                    </tr>
                }
            }
            else
            {
                // If there are fewer than 3 projectlogs, display all
                @foreach (var projectlog in Model.ProjectLogs)
                {
                    <tr>
                        <td>@projectlog.Status</td>
                        <td>@projectlog.OperatorId</td>
                        <td>@projectlog.Operation</td>
                        <td>@projectlog.Note</td>
                        <td>@projectlog.Timestamp</td>
                        <td>@projectlog.ProjectId</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="5">No project logs available</td>
            </tr>
        }
    </tbody>
</table>
@if (Model == null)
{
    <p>No data available (Model is null)</p>
}
else if (!Model.ProjectLogs.Any())
{
    <p>No data available (Model is empty)</p>
}
<div class="mt-3">
    <a class="btn btn-primary" asp-controller="ProjectLogs" asp-action="List">View Full List of Project Logs</a>
</div>

<!--Home page Attachments Table-->
<h1 style="margin-bottom: 20px; margin-top: 40px;">Attachments:</h1>
<table class="table" style="margin-bottom: 20px;">
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Location</th>
            <th>LastModifiedTimestamp</th>
            <th>Project ID</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Attachments.Any())  // Check if Model is not null and contains any items
        {
            if (Model.Attachments.Count() >= 3)
            {
                // Display only the first 3 projectlogs if there are more than 3
                @foreach (var attachment in Model.Attachments.Take(3))
                {
                    <tr>
                        <td>@attachment.Type</td>
                        <td>@attachment.Name</td>
                        <td>@attachment.Location</td>
                        <td>@attachment.LastModifiedTimestamp</td>
                        <td>@attachment.ProjectId</td>
                    </tr>
                }
            }
            else
            {
                // If there are fewer than 3 projectlogs, display all
                @foreach (var attachment in Model.Attachments)
                {
                    <tr>
                        <td>@attachment.Type</td>
                        <td>@attachment.Name</td>
                        <td>@attachment.Location</td>
                        <td>@attachment.LastModifiedTimestamp</td>
                        <td>@attachment.ProjectId</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="5">No attachments available</td>
            </tr>
        }
    </tbody>
</table>
@if (Model == null)
{
    <p>No data available (Model is null)</p>
}
else if (!Model.ProjectLogs.Any())
{
    <p>No data available (Model is empty)</p>
}
<div class="mt-3">
    <a class="btn btn-primary" asp-controller="Attachments" asp-action="List">View Full List of Attachments</a>
</div>

<!--Home page ProjectBids Table-->
<h1 style="margin-bottom: 20px; margin-top: 40px;">Project Bids:</h1>
<table class="table" style="margin-bottom: 20px;">
    <thead>
        <tr>
            <th>Project</th>
            <th>Bidder</th>
            <th>Bid</th>
            <th>Submitted Time</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.ProjectBids.Any())  // Check if Model is not null and contains any items
        {
            if (Model.ProjectBids.Count() >= 3)
            {
                // Display only the first 3 projectlogs if there are more than 3
                @foreach (var projectbid in Model.ProjectBids.Take(3))
                {
                    <tr>
                        <td>@projectbid.project</td>
                        <td>@projectbid.bidder</td>
                        <td>@projectbid.BidValue</td>
                        <td>@projectbid.SubmittedTime</td>
                    </tr>
                }
            }
            else
            {
                // If there are fewer than 3 projectlogs, display all
                @foreach (var projectbid in Model.ProjectBids)
                {
                    <tr>
                        <td>@projectbid.project</td>
                        <td>@projectbid.bidder</td>
                        <td>@projectbid.BidValue</td>
                        <td>@projectbid.SubmittedTime</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="5">No project bids available</td>
            </tr>
        }
    </tbody>
</table>
@if (Model == null)
{
    <p>No data available (Model is null)</p>
}
else if (!Model.ProjectLogs.Any())
{
    <p>No data available (Model is empty)</p>
}
<div class="mt-3">
    <a class="btn btn-primary" asp-controller="ProjectBids" asp-action="List">View Full List of Project Bids</a>
</div>
