@model FinalProject.Models.Entities.Project
<div class="mt-3">
    <h1>Title:</h1>
    <p>@Model.Title</p>
</div>
<div class="mt-3">
    <h1>Description:</h1>
    <p>@Model.Description</p>
</div>
<div class="mt-3">
    <h1>Title:</h1>
    <p>@Model.Tags</p>
</div>
<div class="mt-3">
    <h1>Description:</h1>
    <p>@Model.Deadline</p>
</div>
<div class="mt-3">
    <h1>Title:</h1>
    <p>@Model.Technology</p>
</div>
<div class="mt-3">
    <h1>Description:</h1>
    <p>@Model.Status</p>
</div>
<div class="mt-3">
    <h1>Title:</h1>
    <p>@Model.Funding</p>
</div>
<div class="mt-3">
    <h1>Description:</h1>
    <p>@Model.Submitter.Name</p>
</div>


