@model List<FinalProject.Models.Entities.Project>

<div class="mt-3">
    <a class="btn btn-success" asp-controller="Projects" asp-action="AddNew">Create</a>
    <hr />
</div>
<div class="card mb-4">
    <div class="card-header">
        <h4>Project Catalog</h4>
    </div>
    <div class="card-body">

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Deadline</th>
            <th>Technology</th>
            <th>Status</th>
            <th>Submitter</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Description</td>
                <td>@project.Tags</td>
                <td>@project.Deadline</td>
                <td>@project.Technology</td>
                <td>@project.Status</td>
                <td>@(project.Submitter != null ? project.Submitter.Name : "Unknown")</td> <!-- Safely display the submitter's name -->
                <td>
                    <a class="btn btn-primary" asp-controller="Projects" asp-action="ProjectView" asp-route-id="@project.Id">View More</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>